<div class="row">
  <div class="col-md-5">
    <h2>Quotes</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let quote of quotes"
        (click)="selectQuote(quote)"
        [class.active]="quote === selectedQuote">
        {{quote.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewQuote()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <quote-details
      [quote]="selectedQuote"
      [createHandler]="addQuote"
      [updateHandler]="updateQuote"
      [deleteHandler]="deleteQuote">
    </quote-details>
  </div>
</div>